*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
/*utiliy style*/
a{
    text-decoration: none;

}
body{
    font-size: small;
    
    background-color: gray;
    
}
#body-1{
   
    background-color: white;
    
    margin: 4rem 20rem 2rem 20rem;
    font-size: small;
    
    padding: 4rem 6rem;
}
#body-2{
    margin-top: 1rem;
    margin-left: 2rem;
}
#body-2 p {
    margin-left: 6rem;
     
    margin-bottom: 1rem;
    
    
}
#body-2 a{
    margin-left: 2rem;
    color: white;
    background-color: black;
    margin-bottom: 1rem;
    
}
#email, .name{ 
    margin-bottom: 1rem; 
}
.sign{
    padding: 0.3rem 12rem;  
}
.up{  
    padding: 0.3rem 8.7rem;
    margin-bottom: 1rem;
}
#add{
    z-index: 3;
    position: absolute;
    top: 9.9rem;
    left: 25rem;
    background-color: white;
}
input[type='checkbox']:checked{
    color: black;
    background-color: white;
}

  
#pass{
    z-index: 3;
    position: absolute;
    top: 13.8rem;
    left: 25rem;
    background-color: white;
}
#keep{
    margin-left: 6rem;
    
}
#for{
    margin-left: 4rem;
    font-size: small;
    color: gainsboro;
}
#password{
    margin-bottom: 1rem;
}
#body-2 p{
    text-align: center;
    margin-right: 5rem;
    margin-top: 0.5rem;
}
#email, #password{
    width: 30rem;
    height: 3rem;
    color: ghostwhite;
    margin-left: 2rem;
}
input:placeholder-shown{
    padding-left: 1rem;
}
#check:checked{
    background-color: white;
    color: black;
}
#footer{  
    background-color: white;
    margin: 1rem 20rem 2rem 20rem;
    text-align: center;
    padding: 1rem 2rem;
}
#footer a{
    font-weight: bold;
    color: black;
}