*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    

}
/*utiliy style*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    line-height: 1.5;
    background: #fff;
    margin-left: 7rem;
    font-style: normal;
    margin: auto;
    max-width: 1100px;
}

main{
    background: white;
}
a{
    text-decoration: none;
    padding: 0.2rem 0.9rem;
    border: solid #00000014;
    display: inline-block;
    color: black;
    background: white;
}
h1, h2, h3, h4, h5,h6{
    font-weight: bold;
    line-height: 1.3;
}
header{
    
    position: absolute;
    top: 0.1rem;
    left: 0.005rem;
}
li{
    list-style: none;
}

/*navigation bar*/
#color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background: white;
    position: sticky;
    top: 0;
    font-size: small;
}

.nav-container nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container nav ul li a{
    border: none;
    
}
nav{
    position: absolute;
    right: 30rem;
    top: 0.1rem;
}
#xyz{
    margin: 0.5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*shop showcase*/
.container{
    max-width: 1100px;
    margin: auto;
  }

  .showcase-container{
    height: 80vh;
    background: url(images/Image197.png) no-repeat center right/contain;
    background-size: 80%;
    display: flex;
    align-items: center;
  }

  .white-bg{
    padding: 2rem;
    background-color: #fff;
  }

  #container a{
    margin-left: 2rem;
  }
#link{
    display: grid;
    position: absolute;
    right: 3rem;
}
#link a{
    border: none;
    margin: 1rem 0.5rem;
    width: 0.001rem;
}
/*men clothing*/
#men{
    font-size: xx-small;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,329px);
    grid-gap: 1rem;
}
#clothing{
    align-self: center;
    color: grey;
    font-weight: bold;
    
}

/*women clothing*/
#women{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3,329px);
    grid-template-rows: repeat(2,auto);
    grid-gap: 1rem;
}

#jacket{
    grid-row-start: 1;
    grid-row-end: 3;
}

#hat{
    margin-top: 6.5rem;
}

#clothing-women{
    font-size: xx-small;
    align-self: center;
     color: grey;
     font-weight: bold;
    
}
/*ad*/
#ad{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3,329px);
    grid-gap: 0.5rem;
}
#sales, #new-in, #blog{
    text-align: center;
    font-size: small;
}
#sales{
    color: red;
}
#ad p{
    text-align:center ;
}
/*aside*/
#aside{
    margin-top: 5rem;
    background: url(images/big-shoes.png) no-repeat center center/contain ;
    background-position-x: 45rem;
}
#aside p{
    font-size: x-small;
}
/*footer*/
footer{
    margin-top: 3rem;
    padding-left: 7rem;
   margin-left: 0;
   border: 0;
   margin-top: 1rem;
   color:black ;
   background-color:#f4eded;
   font-size: xx-small;
   background-size: cover;
}
#footer{
   padding-top: 5%;
   display: grid;
   grid-template-columns: repeat(6, 13rem);
   grid-gap: 10px;
}
#copyright{
   margin-top: 4rem;
}
footer h1{
   font-size: small;
}
footer input{
   padding: 0.0001rem;
   border: solid black;
}
#email{
   border: solid gray;
   width: 7rem;
   margin-top: 1rem;
}
#subscribe{
   background: black;
   color: #fff;
}
#copyright{
   padding-bottom: 1rem;
}
#blank a{
   border: none;
   margin-left: 1rem;
   background-color: #f4eded;
}
#blank{
   display: flex;
   width: 1px;
   
}

